icons
Makefile
eu.tiliado.NuvolaAppSpotify.appdata.xml
eu.tiliado.NuvolaAppSpotify.data.service
eu.tiliado.NuvolaAppSpotify.desktop
metadata.json
nuvola-app-spotify
spotify.tar.gz
/screenshots/
eu.tiliado.NuvolaAppSpotify.service
eu.tiliado.WebRuntimeAppSpotify.appdata.xml
eu.tiliado.WebRuntimeAppSpotify.desktop
eu.tiliado.WebRuntimeAppSpotify.service
nuvola-app-spotify.metainfo.xml
